html {
  align-items: center;
  background-color: #111213;
  color: #c5c8c6;
  display: flex;
  font: 16px/1 "Fira Mono", monospace;
  height: 100%;
  justify-content: center;
}

body {
  background: #1d1f21;
  border-radius: 2px;
  color: #c5c8c6;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 15px;
}

#body_title {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  column-gap: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1em 0;
}

li:first-child {
  color: #81a2be;
  font-weight: bold;
}

li:last-child {
  margin: 0 0 1em;
}