@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  align-items: center;
  background-color: #111213;
  color: #c5c8c6;
  display: flex;
  font: 16px/1 "IBM Plex Mono", monospace;
  font-weight: 400;
  height: 100%;
  justify-content: center;
}

body {
  background: #1d1f21;
  border-radius: 2px;
  color: #c5c8c6;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 15px;
}

#body_title {
  font-weight: bold;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}

nav {
  column-gap: 2em;
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 1em 0;
}

@media (max-width: 700px) {
  body {
    min-width: 84vw;
  }

  nav {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

li:first-child {
  color: #81a2be;
  font-weight: bold;
}